GH_STATS_TOKEN=github_pat_or_classic_token_here
REPO_AFFILIATION=owner,collaborator,organization_member
INCLUDE_PRIVATE=true
INCLUDE_FORKS=false
INCLUDE_ARCHIVED=true
EXCLUDE_CURRENT_REPO=true
MAX_LANGUAGES=8
SVG_TITLE=Language Stats
